<link rel="styles"> 
css {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200;
}

h1 {
  font-size: 37px;
  font-weight: 200;
}

/* @media (max-width: 800px) h1 {
  font-size: 3rem;
}
.example {
  background: red;
  color: white;
}

@media (min-width: 801px) {
  h1 {
    font-size: 4rem;
  } */

h2 {
  font-size: 24px;
  font-weight: 300;
}

h3 {
  font-size: 18px;
  font-weight: 200;
  margin-left: 8rem;
  margin-right: 8rem
}
@media (max-width: 800px) {
  h1 {
    font-size: 3rem;
  }
}
.example {
  background: red;
  color: white;
}

@media (min-width: 801px) {
  h1 {
    font-size: 4rem;
  }
}

h4 {
  font-size: 10px;
}

p {
  font-size: 24px;
}

p2 {
  font-size: 18px;
}

nav {
  margin-top: 2rem;
}

header {
  padding-top: 2rem;
}

main {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.centre {
  display: flex;
  justify-content: space-evenly;
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav-link {
  color: black;
  text-decoration: none;
}

img {
    object-fit: cover;
}
img.rounded-corners {
    border-radius: 50%;
  }
  
.split {display: flex;
gap: 1rem;
padding-left: 2rem;
padding-right: 2rem;}
